[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
playwright = "*"
requests = "*"
gunicorn = "*"
mongoengine = "*"
redis = "*"
celery = {extras = ["redis"], version = "*"}
networkx = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
