<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <script>
        window.XSL_inclusionMethod = document.createElement('iframe')
        window.XSL_inclusionMethod.setAttribute('csp', 'default-src \'self\';')
        window.XSL_inclusionMethod.src = '{{ url | safe }}'


        window.XSL_runInclusionMethod = () => {
            document.body.appendChild(window.XSL_inclusionMethod)
            console.log('[Testcase] XSL_runInclusionMethod called')
        }
        
    </script>

    </script>
</body>
</html>


